<!DOCTYPE html>
<html lang="en">

<head>
    <title>HOME</title>
</head>

<body>
    <h1>Cat Clicker</h1>
    <div><button onclick="window.location.reload()">click for another cat picture</button>
    </div>
    <div><img src="<%= catJSON %>"></img></div>
</body>

</html>